@import url("./reset.css");
@import url("./tokens.css");
@import url("./components/shared/ui/Button.css");
@import url("./components/shared/ui/Badge.css");

h1 {
  color: var(--primary);
  text-align: left;
  padding: var(--space-xs);
  margin: 0;
}
